* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Letters";
    padding: 0;
    
}

@font-face {
    font-family:"Letters" ;
    src: url(../font/Letters\ for\ Learners.ttf);
}
#header {
  background-image: url(../img/dark_tint.png),url(../img/hero-bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 800px;  
  
}
#header h1 span {
  color:crimson ; 
}
#header h1 {
  float: left;
  margin-left: 19px;
  color: white;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  float: right;
}
nav ul li {
  padding: 15px;

}
nav ul li a {
   text-decoration: none;
   color: white;
   font-size: 40px;
}
nav ul  button {
  font-size: 27px;
  border: none;
  margin-right: 20px;
  margin-top: 10px;
  padding: 10px;
}
nav ul li a:hover {
  color: crimson;
  text-decoration: none;
}
.hader-content h1{
  position: relative;
  
}
.hader-content h1 {
  font-size: 70px;
  
}
.hader-content h1 {
 font-size: 80px;
 color:transparent;
 width: fit-content;
 margin-bottom:-15px;
 position: relative;
 top: 100px;
 transition: 0.3s;
  animation: text-travel 0.5s ease forwards;
}
.hader-content h1:nth-child(1) {
  top: 120px;
  animation-delay: 1s;
}
.hader-content h1:nth-child(2) {
  animation-delay: 2s;
  top: 150px;
  left: 230px;
}
.hader-content h1:nth-child(3) {
  animation: name-text-travel 0.5s ease forwards;
  animation-delay: 3s;
  top: 240px;
  left: -90px;
}
.hader-content :nth-child(4) {
  width: 200px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid red;
  background-color: rgba(0, 0,0, 0.0);
  position: absolute; 
  top: 450px; 
  left: 260px;  
}
.hader-content :nth-child(4):hover {
  background-color: crimson;
  color: white;
}
.hader-content span{
    position: absolute;
    top: 0;
    left: 0;
    background-color: crimson;
    width:0;
    height:95%;
    animation: box-travel 1s ease forwards;
    animation-delay: 0.5s;
}
.hader-content h1:nth-child(1) span {
  animation-delay: 0.5s;
}
.hader-content h1:nth-child(2) span {
  animation-delay: 1.5s;
}
.hader-content h1:nth-child(3) span {
  animation-delay: 2.5s;
}
@keyframes text-travel {
    100%{
        color: white;
    }
}
@keyframes box-travel{
    0%{
        width: 0%;
        left: 0;
    }

    50%{
        width: 100%;
        left: 0%;
    }
    100%{
        width:0%;
        left: 100%;
    }
}
/* end header */
/* start mine */
#mine .mine-top h1 span {
  color: crimson;
}
.mine-top h1 {
  margin-top: 60px;
  font-size: 70px;
}

.mine-top {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center; 
}
.mine-top :nth-child(2) {
  width: 400px;
  line-height: 50px;
  font-weight: 100;
  color: black;
}
.first-mine-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mine-top-box {
  background-image:url(../img/img-1.png);
  background-color: rgba(linear-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 180px;
  margin-bottom: 20px;
}
.mine-top-box img {
  width: 60px;
  height: 60px;
}
